*{
    box-sizing: border-box;
    background-color: #cfd5d5;
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: sans-serif;
    font-weight: 400px;
}
.navbar {
    display: flex;

}
.nike-logo {
    height: 0px;
    width: auto;
    margin: 0px;
    cursor: pointer;
}
.nav-links {
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;
    list-style-type: none;
    font-weight: 500;
    margin: 0 1.25rem;
    font-size: 1.05rem;
    color: aliceblue;
    transition: 1s ease-out;
    font-style: italic;
    gap:30px;
    text-transform: uppercase;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-style: italic;
}
li a:hover {
    color: azure;
}